*{
    padding: 0;
    margin: 0;
    background: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.89);

}


.nav{
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.nav h2{
    width: 400px;
    font-size: 50px;
    color: white;
    margin-bottom: 10px; 
    margin-left: 20px;
    
    font-family: 'Sigmar One', cursive'

    
}

.h2-b{
    
    font-size: 90px;
    color: tomato;

    transition: all 1s;

}



.menu{
    display: flex;
    flex-wrap: wrap;

    margin-top:50px ;
    margin-right: 30px;

    text-decoration: none;
    list-style: none;
    position: relative;   

    text-shadow: 10px 10px  40px #fff;
}

.menu li a:hover{
    color: #ce7d35;
    
}

.menu a{
    font-size: 20px;
    color: white;
    text-decoration:none;
    margin-left: 80px;
    font-family: fantasy;
}

.menu u{
    list-style: none;
}



.sub-menu{
    position: absolute;
    

    margin-top: 30px;
    transition: 0.2s;
    opacity: .9;
    visibility: hidden;
    z-index: 8;

    list-style: none;
    border-radius: 40px;

}

.sub-menu li a{
    
    display: block;
    padding: px;
    color:black;
    font-weight:bold;
    font-family:cursive;
    list-style: none;

    border: solid;
    border-radius: 5px ;

    margin-top: 20px;

    text-align: center;

    background-color: coral;
}

.menu :hover .sub-menu{
    visibility: visible;
    list-style: none;
    transition: all .1s;
}


.sub-menu2{
    position: absolute;
    width: 42%;

    margin-top: 30px;
    transition: 1s;
    opacity: .9;
    visibility: hidden;
    z-index: 8;

    list-style: none;
    border-radius: 40px;
}

.sub-menu2 img{
    width: 40px;
    margin-top: 40px;
    margin-left: 30px;

}

.sub-menu2 li a{
    
    display: block;
    padding: 15px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style: none;
}

.menu :hover .sub-menu2{
    visibility: visible;
    list-style: none;

    transition: all .1s;
    
}


/* imagen */

.imagenes{
    /* background-image: url(/Imagenes/img0.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: 10px;

    width: 100%;
    height: 750px;

    position: absolute;
}

.atras{
    font-size: 30px;
    width: 70px;
    height: 70px;   
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 10px rgba (255, 255, 255, .6);
    -webkit-transition: all .3s ease;
    -o-transition: all .3 ease;
    transition: all .3s ease;

    z-index: 20;

    top: 400px;

}

.atras button{
    object-position: center;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 40px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.678) ;


}

.adelante{
    font-size: 30px;
    width: 70px;
    height: 70px;   
    line-height: 70px;
    border-radius: 50%;
    
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 10px rgba (255, 255, 255, .6);
    -webkit-transition: all .3s ease;
    -o-transition: all .3 ease;
    transition: all .3s ease;

    z-index: 20;

    top: 400px;
    right: 30px;;

}

.adelante button{
    object-position: center;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.678);

}

.contenedor .atras .adelante{
    cursor: pointer;  
    transform: scale(1.2,1.2); 
}

.atras:hover{
    padding: 10px;
    
} 

.adelante:hover{
    padding: 10px;

}

.imagen h1{

    font-size: 150px;
    font-family: fantasy;

    position: absolute;
    top: 350px;
    left: 440px;

    background: linear-gradient(rgba(243, 242, 242, 0.966),rgba(161, 161, 161, 0.931));
    -webkit-background-clip: text;
    color: transparent;  

    z-index: 30;

}



.imagen i{
    
    font-size: 70px;

    background: linear-gradient(rgba(255, 253, 253, 0.931),rgba(153, 151, 151, 0.931));
    -webkit-background-clip: text;
    color: transparent; 

}




/* responsive  */

@media screen and (max-width:1024px){
    .body{
        max-width: 1024px;
    }
    
    .nav a{
        font-size: 40px;
        margin-left: 30px;

        margin-left: 130px;

    }

    .nav h2{
        width: 800px;
        font-size: 80px;
        
    }

    .nav b{
        font-size:100px ;
        margin-left: 200px;
    }

    .imagen h1{
        font-size: 100px;
        top: 400px;
        left: 150px;
    }

    .imagenes{
        margin-top:70px;
        height: 1000px;
    }

    .atras{
        top: 600px;
        padding: 20px;
        
    }

    .adelante{
        top: 600px;
        padding: 20px;
    }
}

/* responsive  */

@media screen and (max-width:414px){
    .menu a{
        font-size: 20px;
        margin-left: 40px;
    }

    .nav h2{
        font-size: 30px;
        width: 350px;
        margin-left: 0px;
    }

    .nav b{
        font-size:60px ;
        margin-left: 80px;
    }
    

    .imagen h1{
        font-size: 60px;
        top: 400px;
        left: 10px;
    }

    .imagen i{
        font-size: 20px;
    }

    .imagenes{
        margin-top:70px;
        height: 500px;
    }

    .atras{
        top: 600px;
        padding: 10px;
        
    }

    .adelante{
        top: 600px;
        padding: 10px;
    }
}


@media screen and (max-width:360px){
    .menu{
        width: 330px;
    }

    .menu a{
        font-size: 20px;
        margin-left: 30px;
    }

    .nav h2{
        width: 320px;
        font-size: 40px;
        margin-left: 20px;
    }

    .nav b{
        font-size: 60px;
        margin-left: 20px;
    }

    

    .imagen h1{
        font-size: 50px;
        top: 400px;
        left: 20px;
    }

    .imagen i{
        font-size: 20px;
    }

    .imagenes{
        margin-top:10px;
        height: 600px;
    }

    .atras{
        top: 500px;
        padding: 10px;
        
    }

    .adelante{
        top: 500px;
        padding: 10px;
    }

    .sub-menu2{
        transition: 2s;
    }

    .sub-menu{
        transition: 1s;
    }


    
}